.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  height: 200px;
  width:80%;
  border:2px solid green;
}

.box {
  width: 50px;
  padding:2px;
  border:2px solid black;
  height: 50px;
  background: red;
}